body {
  display: flex;
  justify-content: space-between;
}
.board {
  width: 400px;
  margin: auto;
  margin-top: 75px;
}

.info {
  width: 400px;
  margin: auto;
}

.move-history {
  max-height: 100px;
  overflow-y: scroll;
}
